body {
    padding: 0px;
    margin: 0px;
    font-family: 'League Spartan', sans-serif;
}

* {
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
}

.d-flex {
    display: flex;
}

m-0 {
    margin: 0px;
}

.fixed-element {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    /* Adjust the z-index as needed */
    /* Add any other styles you want for the fixed navigation bar */
}

.top-header {
    font-weight: 520;
    color: #b8b8b8;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.email {
    justify-content: center;
    align-items: center;
    width: 20%;
}

.call {
    justify-content: center;
    align-items: center;
    width: 20%;
    /* border-right: 2px solid #b8b8b8; */
}

.call i {
    font-size: 14px;
    color: #1ab69d;
    padding-right: 10px;
}

.email i {
    font-size: 16px;
    color: #1ab69d;
    padding-right: 10px;
}

.vertical-line {
    width: 1.5px;
    height: 30px;
    background-color: #4f4f4f;
    margin-right: 30px;
}

.login-apply {
    display: flex;
    width: 60%;
    justify-content: right;
    padding-right: 50px;
}

.login-apply button {
    width: 170px;
    background-color: #1ab69d;
    color: white;
    font-size: 17px;
    border: none;
}

.login-apply button i {
    font-size: 15px;
}

.login-apply p {
    padding-right: 30px;
}

.top-header p:hover {
    color: white;
}

.top-header i:hover~p {
    color: white;
}

.login-apply button:hover {
    /* background-color:rgba(48,185,122,255) ; */
    background: linear-gradient(to right, #1ab69d, #31b978);
    background-repeat: no-repeat;
}

/* ====================nav-section start======================= */
.center {
    justify-content: center;
    align-items: center;
    padding-right: 26px;
}


.nav-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    position: relative;
}

.nav-logo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: right;
    position: relative;
    height: 100%;
}

.navbar i {
    padding-left: 8px;
    font-size: 11px;
}

.navbar p {
    font-weight: 550;
    font-size: 19px;
}

.nav-icon {
    width: 16%;
    display: flex;
    justify-content: center;
}

.nav-vertical-line {
    width: 4%;
    width: 2px;
    height: 45px;
    background-color: #f3f3f3;
    margin-left: 40px;
}

.nav-icon i {
    font-size: 22px;
    padding-left: 25px;
}

.background1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110vh;
    background-color: #e8f0f1;
    background-image: url("./Assests/background1.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 1px;
}

.background1 img {
    height: 100vh;
    width: 100%;
}

.heading-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    padding: 90px 0px 0px 55px
}

.heading-title h1 {
    font-size: 60px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.heading-title h1 span {
    font-size: 57px;
    color: #ee4a62;
}

.heading-title button {
    width: 175px;
    height: 55px;
    background-color: #1ab69d;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.heading-title p {
    font-size: 22px;
    color: #4d4747;
}

.heading-title button i {
    font-size: 15px;
}

.heading-title button:hover {
    background: linear-gradient(to right, #1ab69d, #31b978);
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out;
}

.home-girl {
    display: flex;
    justify-content: right;
    align-items: end;
    width: 50%;
    height: 110vh
}

.home-girl img {
    width: 520px;
}

/* ==================================dropdown menu code========================================= */
.navbar a{
    text-decoration: none;
}
.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: row;
    z-index: 3;
    background-color: #ffff;
    padding: 30px;
    top: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 140%;

}

.menu-detail1 {
    width: 30%;
    border-right: 2px solid rgb(225, 212, 212);
    line-height: 40px;
}

.menu-detail1 li span {
    color: white;
    font-size: 10px;
    background-color: #ee4a62;
    padding: 4px;
    border-radius: 3px;
}

.menu-detail2 {
    width: 30%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 80px;
}

.menu-detail2 li span {
    color: white;
    font-size: 10px;
    background-color: #1ab69d;
    padding: 4px;
    border-radius: 3px;
    margin-left: 4px;
}

.dropdown-menu ul li {
    list-style: none;

}

/* =======================home dropdown start=================== */

.home:hover .dropdown-menu {
    display: flex;
    transition: 1s;
}

.dropdown-menu:hover {
    display: flex;
}

.menu-image img {
    height: 250px;
    width: 400px;
}

/* =======================pages dropdown start=================== */


.dropdown-pages-menu {
    position: absolute;
    top: 90px;
    display: none;
    z-index: 3;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.dropdown-pages-menu ul {
    list-style: none;
    flex-direction: column;
    line-height: 2px;
    line-height: 35px;
    padding: 5px 30px 5px 30px;
}

.pages:hover .dropdown-pages-menu {
    display: flex;
    transition: 1s;
}

/* =======================courses dropdown start=================== */



.dropdown-courses-menu {
    position: absolute;
    top: 90px;
    display: none;
    z-index: 3;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.dropdown-courses-menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    line-height: 2px;
    line-height: 35px;
    padding: 5px 30px 5px 30px;
}

.courses:hover .dropdown-courses-menu {
    display: flex;
    transition: 1s;
}


/* =======================blog dropdown start=================== */




.dropdown-blog-menu {
    position: absolute;
    top: 90px;
    display: none;
    z-index: 3;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.dropdown-blog-menu ul {
    list-style: none;
    flex-direction: column;
    line-height: 2px;
    line-height: 35px;
    padding: 5px 30px 5px 30px;
}

.blog:hover .dropdown-blog-menu {
    display: flex;
    transition: 1s;
}

/* =======================contact dropdown start=================== */


.dropdown-contact-menu {
    position: absolute;
    top: 90px;
    display: none;
    z-index: 3;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.dropdown-contact-menu ul {
    list-style: none;
    flex-direction: column;
    line-height: 2px;
    line-height: 35px;
    padding: 10px 20px 10px 20px;
}

.contact:hover .dropdown-contact-menu {
    display: flex;
    transition: 1s;
}

/* ==================================.short-discription======================== */



.short-discription {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 138px;
    background: linear-gradient(to right, #1ab69d, #31b978);
    background-repeat: no-repeat;

}

.discription-box {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1.9px solid #FFFFFF1A;

}

.discription-box p {
    color: #ffff;
    font-size: 23px;
    padding-left: 25px;
}

.svg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
}

.instructors {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 65px;
    right: 320px;
    justify-content: center;
    background-color: #ffff;
    padding: 24px 40px 15px 40px;
    border-radius: 10px;
    /* line-height: 1px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.instructors img {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.instructors h2 {
    font-weight: 400;
    font-size: 23px;
    margin: 0px;
}

.instructors-img-title {
    align-items: center;
}

.instructors-img-title span {
    color: #ee4a62;
    font-weight: bold;
}









.top-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.top-categories-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-categories-heading h1{
    font-size: 41px;
    letter-spacing: 1.5px;
    margin: 0px;
}
.top-categories-heading img{
    width: 175px;
}
.top-categories-courses{
    display:flex ;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.top-categories-courses ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
}

.top-categories-courses ul li{
    display:flex ;
    flex-direction:row ;
    justify-content: center;
    align-items: center;

}
.top-categories-courses ul li img{
width: 85px;
}